* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.sidebar-menu,
.nav-item {
  background-color: rgb(238, 209, 201);
}

.sidebar-title-bg {
  background-color: blue;
}

.sidebar-list-color {
  color: orangered;
}
.nav-border-bottom {
  border-bottom: 1px solid #dddddd;
}
h5{
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

.notice:hover{
  background-color: rgb(248, 248, 248);
}

.register:hover{
  background-color: rgb(248, 248, 248);
}