@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.offcanvas-md,
.nav-item,
.card-orange {
  background-color: rgb(238, 209, 201) !important;
}
.card-orange {
  box-shadow: 0px 0px 0px 0px #c1c1c1;
}
.sidebar-title-bg {
  background-color: blue !important;
}
.sidebar-list-color {
  color: orangered;
}
.nav-border-bottom {
  border-bottom: 1px solid #dddddd;
}
h5 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}
.text-active {
  color: blue;
}
table thead tr th {
  background-color: rgb(238, 209, 201) !important;
  color: orangered !important;
  font-size: 14px;
}
input,
select,
textarea {
  box-shadow: none !important;
  outline: none;
}

.box-shadow {
  border-radius: 0px;
  box-shadow: 0px 0px 1px 1px #e5e5e5;
}
.border-bottom-blue {
  border-bottom: 1px solid blue;
}
.border-bottom-orange {
  border-bottom: 1px solid orangered;
}
.btn-outline-orangered {
  outline: 1px solid orangered;
  color: orangered;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 600;
}
.btn-outline-orangered:hover {
  color: orangered;
}
.card-orange {
  border-radius: 2px;
}
.sidebar-icon {
  font-size: 18px;
}
.dt-layout-cell .dt-length,
.dt-layout-cell .dt-search {
  display: flex;
  gap: 10px;
  align-items: center;
}
.current {
  padding: 6px 15px !important;
  font-weight: 500 !important;
}
.current {
  border: none !important;
  background: rgb(238, 209, 201) !important;
}
.notice-creation-form-container input,
.notice-creation-form-container select {
  border-radius: 2px !important;
}
.user-registration-form-container select,
.notice-creation-form-container select {
  padding: 7px 10px;
}
